@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Oxanium", sans-serif !important;
  background-color: #E5E7EB !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6,
.heading, .heading-name,
button, .submit-btn {
  font-family: "Rubik", sans-serif !important;
}

code {
  font-family: "Oxanium", sans-serif !important;
  font-size: 2.2rem;
}

/* Fix for slanting/italic text in tech stack */
.tech-icons {
  font-style: normal !important;
}
.tech-icons * {
  font-style: normal !important;
}
